<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ask question</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div class="d-flex w-100 justify-content-between align-items-center">

                <a class="navbar-brand ms-5" href="index.html">
                    <div class="navbar-name fs-2">AskMe</div>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <form class="d-flex flex-grow-1 ms-5" role="search">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search"></i> 
                        </button>
                    </div>
                    <button class="btn btn-outline-success ms-5 me-5 btn w-50" type="submit">Ask question</button>
                </form>

                <div class="d-flex gap-1 me-3">
                    <img src="../static/img/common_member.png" alt="Avatar" class="img-fluid" style="height: 50px;">
                    <div>
                        <div>
                            Member
                        </div>
                        <a href="settings.html">Settings</a>
                        <a href="#">Log out</a>
                    </div>
                </div>

            </div>
        </div>
    </nav>

    <main class="container mt-3">
        <div class="d-flex gap-3 align-items-center">
            <h1>Settings: Nickname</h1>
        </div>

        <div class="row">
            <div class="col-9">
                <div class="d-flex flex-column gap-3">
                    
                    <div class="d-flex align-items-start mt-3 me-5">
                        <label for="questionText" class="me-5">Login:</label>
                        <input type="text" class="form-control" style="margin-left: 80px; width: 490px;" id="questionText" value="Your login" style="margin-left: 83px;">
                    </div>

                    <div class="d-flex align-items-start mt-3 me-5">
                        <label for="questionText" class="me-5">Email:</label>
                        <input type="text" class="form-control" style="margin-left: 80px; width: 490px;" value="Your email" style="resize: none; margin-left: 83px;">
                    </div>

                    <div class="d-flex align-items-start mt-3" style="margin-left: -5px;">
                        <label for="tags" class="me-5">Nickname:</label>
                        <input type="text" class="form-control w-50" id="tags" value="Your nickname" style="margin-left: 53px;">
                    </div>

                    <div class="d-flex align-items-start mt-3">
                        <label for="avatar" class="me-5">Avatar:</label>
                        <form action="/upload" method="post" enctype="multipart/form-data" style="margin-left: 20px">
                            <img id="avatarPreview" src="../static/img/common_member.png" alt="Avatar" class="img-fluid d-block mb-2" style="margin-left: 50px; height: 140px; object-fit: contain;">
                            <input type="file" id="avatar" name="file" accept=".jpg,.png" onchange="previewImage()" style="margin-left: 50px; margin-top: 10px;">
                        </form>
                    </div>

                    <div class="d-flex align-items-start mt-3" style="margin-left: 170px;">
                        <button type="button" class="btn btn-outline-success d-flex align-items-center like-button">Save!</button>
                    </div>

                </div>


            

            </div>
            <div class="col">
                <section class="mb-3">
                    <h2>Popular Tags</h2>
                    <div>
                        <span class="badge text-bg-primary"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Primary</a></span>
                        <span class="badge text-bg-secondary"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Secondary</a></span>
                        <span class="badge text-bg-success"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Success</a></span>
                        <span class="badge text-bg-danger"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Danger</a></span>
                        <span class="badge text-bg-dark"><a href="#" class="link-light link-offset-2 link-underline-opacity-0 link-underline-opacity-75-hover">Dark</a></span>
                    </div>
                </section>

                <section>
                    <h2>Best members</h2>
                    <div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                            <li class="list-group-item"><a href="#">Member</a></li>
                        </ul>
                    </div>
                </section>

            </div>

        </div>


    </main>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src = "../static/js/image_preview.js"></script>
</body>

</html>